.App {
  text-align: center;
  
}

.disL {
  flex: 0.35;
  float: left;
  margin-left: 25px;
  margin-top: 10%;

}
.disL button {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: cornsilk;
}

.disR {
  display:flex ; 
  justify-content: space-between;
  margin-top: 10%;
  float: left;
  margin-left: 20px;
}

.disR button {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  font-style: italic ;
  background-color: pink;
  width: 100%;
  text-align: center;
}

.Scroll  {
  width: 800px;
  display: block;
  white-space: nowrap;
  padding-right: 30px;
  overflow: scroll;
  margin-left: 60px;
  /*background: whitesmoke;*/
  margin-top: -120px;
  height: 240px;
}

.Scroll::-webkit-scrollbar {
  display: none;
}

.Scroll p {
  text-align: center;
  padding-right: 30px;
  float: left;
}

.vl {
  border-left: 2px solid black;
  height: 620px;
  position: absolute;
  left: 10%;
  margin-left: -3px;
  top: 0;
}
.vll {
  border-left: 2px solid black;
  height: 620px;
  position: absolute;
  right: 80%;
  top: 0;
}
body 
{
    /* background-color: #b3f1ff; */
     background-image: url("../src/2.jpg"); 
}
.just {
  margin-top: -126px;
  overflow: scroll;
  width: 100px;
  height: 250px;
}

.just::-webkit-scrollbar {
  display: none;
}

.just::button:hover {
  color: deepskyblue;
}

.col1 {
  border: 1px dotted black;
  padding: 10px;

}
.head {
    margin: 0px 216px 35px 271px;
    color: black;
    height: 67px;
    text-transform: capitalize;;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}